@charset "utf-8";
/*QUIZ.HTML*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}


.top{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #FFE4B5;
    align-items: center;
    justify-content: start;
}

.quiz{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    font-family: "Gabriola";
    font-size: 150%;
    color: white;
}

.button, .button2 {
    display: flex;
    height: 100%;
    align-items: center;  
    line-height: 100%; 
}

.button a, .button2 a {
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    background-color: #4E4E4E;
}

.button2 {
    height: 50%;
    transition-property: height, background-color;
    transition-duration: 0.5s, 0.5s;
    background-position: bottom;
}

.button2:hover {
    background-color: #4E4E4E;
    height: 100%;
}

.button2 a{
    color: #4E4E4E;
    transition-property: color;
    transition-duration: 0.5s;
}
.button2:hover a{
    color: white;
}

.bottom{
    height: 50px;
    width: 100%;
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Segoe ui;
}


.text{
    color: #4E4E4E;
    font-family: "Gabriola";
}


* {
    margin: 0;
    padding: 0;
}


.start{
    background-color: #4E4E4E;
    color: white;
    border:2px outset#4682B4;
    font-size: 22px;
    width: 250px;
    font-family: "Gabriola";
    transition: 0.5s;
    height: 40px;
    letter-spacing: 0.1rem;
}

.start:hover{
    background-color: white;
    color: #4E4E4E;
}


.answers{
    width: auto;
    border:2px outset#4682B4;
    background-color: #4E4E4E;
    color: white;
    font-size: 22px;
    font-family: "Gabriola";
    transition: 0.5s;
    margin-bottom: 30px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.answers:hover{
    background-color: white;
    color: #4E4E4E;
}

.start1{
    border:2px outset#4682B4;
    background-color: #4E4E4E;
    color: white;
    font-size: 22px;
    width: 250px;
    font-family: "Gabriola";
    transition: 0.5s;
    letter-spacing: 0.1rem;
}

.start1:hover{
    background-color: white;
    color: #4E4E4E;
}

.start, .answers, .start1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

@media all and (max-width: 1000px) {
    .top{
        justify-content: center;
    }
}
