/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.header{
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url(https://blog.karpaty.ua/content/images/2014/%D0%B3%D1%80%D1%83%D0%B4/1366x768.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.charivna_ukraina{
    color: white;
    font-family: "Gabriola";
    font-weight: 400;
    font-size: 70px;
    line-height: 20px;    
}


.charivna_under{
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.middle{
    background-color: white;
    height: 100%;
    width: 100%;
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.youcansee{
    text-align: center;
    font-family: "Gabriola";
    font-size: 30px;
}

.buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


.button1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFE4B5;
    border-radius: 7px;
    width: 26%;
    height: 270px;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, background-color 0.5s;
    transition: transform 0.5s, background-color 0.5s;
    transition: transform 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.button1:hover{
    -ms-transform: translate(0,-10px);
        transform: translate(0,-10px);
    -webkit-transform: translate(0,-10px);
    -o-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    background-color: #4682B4;
}

.button1:hover p{
    color: white;
}

.button1_text1{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


.button1_text2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dimgray;
    font-size: 13px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
}

.enjoy_ukraine{
    height: 100%;
    width: 100%;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.enjoy_firstname{
    text-align: center;
    letter-spacing: 0.5rem;
    font-family: "Gabriola";
}

.lkostenko{
    text-align: center;
    color: dimgray;
    font-family: sans-serif;
}

img{
    width:95%;
}

.bottom{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #4682B4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: Segoe ui;
}


@media all and (max-width: 500px) {
    .charivna_ukraina{
        line-height: 50px;
        font-size: 50px;
    }
    .charivna_under{
        font-size: 15px;
    }
    img{
        width: 95%;
    }
    .buttons{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .button1{
        margin-top: 2%;
        width: 50%;
        margin-bottom: 2%;
    }
}

@media all and (min-width: 500px) and (max-width: 625px) {
    .button1{
        width: 40%;
    }
    .buttons{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    img{
        width: 95%;
    }
}

@media all and (min-width: 625px) and (max-width: 800px) {
    .button1{
        width: 40%;
    }
    .buttons{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    img{
        width: 95%;
    }
}

@media all and (min-width: 800px) and (max-width: 1000px) {
    .button1{
        width: 40%;
    }
    .buttons{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    img{
        width: 95%;
    }
}
